         */.idea
         */cmake-build-debug
         */png
         */.vscode
         */.vs
         */.git
         */.gitattributes
         */.gitmodules

         cmake-build*/
         Graficas/
         CMakeLists.txt

         *.out